.btn-main {
    background-color: #F9FAFB;
    color: #111827;
    border-color: #FB923C;
}
.btn-main:hover {
    background-color: #FB923C;
    color: #F9FAFB;
    border-color: #FBBF24;
}
.btn-main:focus {
    box-shadow: 0 0 0 4px rgba(251, 236, 201, 0.5);
    border-color: #FBBF24;
}
.btn-main:active {
    background-color: #FBBF24 !important;
    color: #111827 !important;
    border-color: #FBBF24 !important;
}
.btn-side {
    background-color: #FB923C;
    color: #F9FAFB;
    border-color: #F9FAFB;
}
.btn-side:hover {
    background-color: #F9FAFB;
    color: #111827;
    border-color: #FBBF24;
}
.btn-side:focus {
    box-shadow: 0 0 0 4px rgba(251, 236, 201, 0.5);
    border-color: #FBBF24;
}
.btn-side:active {
    background-color: #FBBF24 !important;
    color: #111827 !important;
    border-color: #FBBF24 !important;
}